* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.viewHelper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 128px;
  height: 128px;
  z-index: 2;

}
